{% extends 'base.html' %}
{% block content %}
<section class="info-page">
    <h2>Сравнение товаров</h2>
    {% if items %}
    <table class="cart-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item['name'] }}</td>
                <td>{{ item['description'] }}</td>
                <td>{{ item['price'] }} ₽</td>
                <td>
                    <form method="post" action="{{ url_for('remove_compare', product_id=item['id']) }}">
                        <button type="submit">Убрать</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Вы ещё не добавили товары для сравнения.</p>
    {% endif %}
</section>
{% endblock %}
